.container{
    // border: solid;
    // padding: 0 3vw;
    background-color: rgb(17, 17, 16);    
    position: sticky;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    color: white;
    // padding: 0 5%;
    // margin: 0 1%;
    
    .categoryContainer{
        // border: solid;
        width: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 10%;
        .dropDownWrapper{
            &:hover{
                color: white;
            }
        }
        
        .link{    
            text-decoration: none;
            color: white;
            position: fixed;
            z-index: 4;
            border-bottom: solid 2px;
            &:hover{
                color: white;
                cursor: pointer;
            }
        }
    }
    .searchBar{
        // border: solid;
    }
}