.container{
    // border: solid;
    // padding: 0 3vw;
    background-color: rgb(17, 17, 16);
    
    position: sticky;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 0 5%;
    // margin: 0 1%;
    
    .categoryContainer{
        // border: solid;
        width: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 10%;
        
        .link{
            text-decoration: none;
            color: white;
            border-bottom: solid 2px;
        }
    }
    .searchBar{
        // border: solid;
    }
}