.container{
    // border: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    .cardContainer{
        border: solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20vw;
        height: 20vw;

        .image{
            height: 23vh;
        }
    }
}