.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .cardContainer{
        border: solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20vw;
        height: 15vw;
    }
}