.container{
    // border: solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    // width: 80%;
    // margin-left: 2%;
    // height: 100%;
    .cardContainer{
        border: solid black;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-top: 10%;
        width: 20vw;
        height: 30vh;

        .image{
            height: 15vh;
        }
        .title{
            margin-top: 20vh;
            border: none;
            padding: 3% 5%;
            font-size: 1em;
            background-color: rgba(255, 255, 255, 0.61);

        }
    }
}