.container{


    .slider{
        border: solid blue;
        height: 50vh;
        display: flex;
        align-items: center;

        .intro{
            // border: solid;
            width: 50vw;

        }
        .image{
            // border: solid;
            width: 50vw;
        }
    }
    .categoryCards{
        // border: solid orange;   
        height: 40vh;


    }
}