.container{
    // border: solid red;
    // height: 100vh;
    // opacity: 50%;
    .background{
        background-image: url(../../image/background2.jpg);
        // background-size: 90%;
        // background-repeat: no-repeat;
        // opacity: 50%;

    }
    .slider{
        // border: solid 2px;
        display: flex;
        // align-items: flex-start;
        justify-content: center;


        .leftSide{
            // border: solid;
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 10vh;
            .intro{
                font-size: 2.5em;
                margin: 0;
            }
            .description{
                font-size: 1em;
                padding-bottom: 5%;
            }

        }
        .rightSide{
            // border: solid;
            background-image: url(../../image/slideshow/paintSmear.png);
            background-position: center;
            background-size: cover;
            height: 99.75vh;
            margin-top: -5vh;
            // padding-top: vh;
            display: flex;
            align-items: flex-start;
        
        }
    }
    .categoryCards{
        // border: solid orange;   
        height: 40vh;


    }
}